In [2]:
import pandas as pd

In [28]:
data = {"Day":["Monday","Tuesday","Wednesday","Thursday","Friday"], 
          "Month":["January","Febuary","March","Aprail","May"]}
dataset = pd.DataFrame(data)
dataset

         Day    Month
0     Monday  January
1    Tuesday  Febuary
2  Wednesday    March
3   Thursday   Aprail
4     Friday      May

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
ohe = OneHotEncoder(drop="first")
arry = ohe.fit_transform(dataset).toarray()
arry

array([[1., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [32]:
pd.get_dummies(dataset).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day_Friday     5 non-null      bool
 1   Day_Monday     5 non-null      bool
 2   Day_Thursday   5 non-null      bool
 3   Day_Tuesday    5 non-null      bool
 4   Day_Wednesday  5 non-null      bool
 5   Month_Aprail   5 non-null      bool
 6   Month_Febuary  5 non-null      bool
 7   Month_January  5 non-null      bool
 8   Month_March    5 non-null      bool
 9   Month_May      5 non-null      bool
dtypes: bool(10)
memory usage: 182.0 bytes

In [40]:
arry.info()

AttributeError: 'numpy.ndarray' object has no attribute 'info'

In [38]:
pd.DataFrame(arry,columns=["Day_Friday","Day_Monday","Day_Thursday","Day_Tuesday","Day_Wednesday","Month_Aprail","Month_Febuary","Month_January","Month_March","Month_May"])

ValueError: Shape of passed values is (5, 8), indices imply (5, 10)