In [2]:
import pandas as pd 
data = pd.read_excel("Book1.xlsx")
print(data)

  DATA ANALYSIS Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0         TABLE        NaN        NaN        NaN        NaN
1       QUARTER         Q1         Q2         Q3      T.EXP
2      Expense1       1200        950        800       2950
3      Expense2       1050       1000        900       2950
4      Expence3       1300        920        780       3000
5      Expence4       1050       1200       1100       3350

E:\anaconda\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
E:\anaconda\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

In [4]:
print(data.shape)

(6, 5)

In [6]:
data.shape

(6, 5)

In [8]:
data.shape[0]

6

In [10]:
data.shape[1]

5

In [12]:
data.isnull().sum().sum()

4

In [14]:
data.isnull().sum()

DATA ANALYSIS    0
Unnamed: 1       1
Unnamed: 2       1
Unnamed: 3       1
Unnamed: 4       1
dtype: int64

In [16]:
(data.isnull().sum())/(data.shape[0]*data.shape[1]*100)

DATA ANALYSIS    0.000000
Unnamed: 1       0.000333
Unnamed: 2       0.000333
Unnamed: 3       0.000333
Unnamed: 4       0.000333
dtype: float64

In [18]:
(data.isnull().sum().sum())/(data.shape[0]*data.shape[1]*100)

0.0013333333333333333

In [20]:
import pandas as pd 
data = pd.read_excel("Book1.xlsx")
print(data.to_string())

  DATA ANALYSIS Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0         TABLE        NaN        NaN        NaN        NaN
1       QUARTER         Q1         Q2         Q3      T.EXP
2      Expense1       1200        950        800       2950
3      Expense2       1050       1000        900       2950
4      Expence3       1300        920        780       3000
5      Expence4       1050       1200       1100       3350

E:\anaconda\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
E:\anaconda\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

In [24]:
import pandas as pd

# Try using a different encoding
data = pd.read_csv("Employee Sample Data.csv", encoding='ISO-8859-1')
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age   Hire Date Annual Salary  \
0    Research & Development  Female      Black   55    4/8/2016     $141,604
1             Manufacturing    Male      Asian   59  11/29/1997      $99,975
2       Speciality Products  Female  Caucasian   50  10/26/2006     $163,099
3             Manufacturing  Female  Caucasian   26   9/27/2019      $84,913
4             Manufacturing    Male      Asian   55  11/20/1995      $95,409
..                      ...     ...        ...  ...         ...           ...
995     Speciality Products    Male  Caucasian   33   9/18/2016      $98,427
996     Speciality Products  Female      Asian   44   5/31/2010      $47,387
997     Speciality Products    Male      Asian   31   6/10/2019     $176,710
998     Speciality Products  Female      Asian   33   1/28/2012      $95,960
999               Corporate  Female      Asian   63   7/26/2020     $216,195

    Bonus %        Country       City   Exit Date
0      15%   United States    Seattle  10/16/2021
1       0%           China  Chongqing         NaN
2      20%   United States    Chicago         NaN
3       7%   United States    Chicago         NaN
4       0%   United States    Phoenix         NaN
..      ...            ...        ...         ...
995     0%   United States   Columbus         NaN
996     0%           China    Chengdu    1/8/2018
997    15%   United States      Miami         NaN
998     0%           China    Chengdu         NaN
999    31%   United States      Miami         NaN

[1000 rows x 14 columns]

In [26]:
data.isnull()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,True
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,True
998,False,False,False,False,False,False,False,False,False,False,False,False,False,True
999,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [30]:
data.isnull().sum()

EEID               0
Full Name          0
Job Title          0
Department         0
Business Unit      0
Gender             0
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        915
dtype: int64

In [28]:
data.isnull().sum().sum()

915

In [46]:
(data.isnull().sum().sum())/(data.shape[0]*data.shape[1])*100

6.5357142857142865

In [36]:
data.isnull().sum().sum()

915

In [38]:
data.shape

(1000, 14)

In [48]:
data.dropna("Exit Date")

TypeError: DataFrame.dropna() takes 1 positional argument but 2 were given

In [54]:
 data.dropna(subset=["Exit Date"],inplace=True)

In [56]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
7,E04332,Luke Martin,Analyst,Finance,Manufacturing,Male,Black,25,5/16/2020,"$41,336",0%,United States,Miami,5/20/2021
14,E03496,Robert Yang,Sr. Analyst,Accounting,Speciality Products,Male,Asian,31,11/4/2017,"$97,078",0%,United States,Austin,3/9/2020
40,E01754,Owen Lam,Sr. Business Partner,Human Resources,Speciality Products,Male,Asian,30,5/29/2017,"$86,317",0%,China,Chengdu,7/16/2017
61,E00502,Natalia Salazar,Sr. Analyst,Accounting,Manufacturing,Female,Latino,44,1/2/2019,"$74,691",0%,Brazil,Manaus,7/8/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,E03305,Cooper Jiang,Analyst II,Accounting,Corporate,Male,Asian,49,7/25/2019,"$50,883",0%,China,Chongqing,3/2/2021
982,E03247,Aaliyah Mai,Vice President,IT,Speciality Products,Female,Asian,57,11/11/2016,"$246,589",33%,United States,Phoenix,3/26/2017
983,E02703,Austin Vang,Manager,Marketing,Speciality Products,Male,Asian,49,5/20/2018,"$119,397",9%,China,Beijing,3/14/2019
991,E03430,Leo Herrera,Sr. Business Partner,Human Resources,Research & Development,Male,Latino,48,4/22/1998,"$85,369",0%,Brazil,Manaus,11/27/2004
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018